<div style="margin-top: -90px; margin-left:-15px">
    <div class="background-wrap">
        <video id="snowfall" autoplay loop muted="muted">

            <source src="video/snowfall.mp4" type="video/mp4" />
            Video Not Supported


        </video>

    </div>
    <div class="content">

        <h1 class="heading">{{ heading }}</h1>
        <p class="">{{ message }}</p>
        <p id="entranceButton" ui-sref="main">Experience The Butter Bunch</p>

        <section class="bottom-content">

            <span class="sound-press" ng-click="soundButton()">Sound <span id="soundColor">Off</span></span>


        </section>
    </div>
</div>