
<nav-bar></nav-bar>

<div class="container">
    <h1>This is about</h1>

    <!-- mt hood forecast-->
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-6">

            <link href="//www.snow-forecast.com/stylesheets/feed.css" media="screen" rel="stylesheet" type="text/css" />
            <div id="wf-weatherfeed">
                <iframe style="overflow:hidden;border:none;" allowtransparency="true" height="272" width="469"
                        src="//www.snow-forecast.com/resorts/Mt-Hood-Meadows/forecasts/feed/mid/m" scrolling="no" frameborder="0" marginwidth="0" marginheight="0">
                    <p>Your browser does not support iframes.</p>
                </iframe>
                <div id="wf-link">
                    <a href="http://www.snow-forecast.com/"><img alt="Snow Forecast" src="//www.snow-forecast.com/images/feed/snowlogo-150.png"/>
                    </a>
                    <p id="cmt">View detailed snow forecast for <a href="http://www.snow-forecast.com/resorts/Mt-Hood-Meadows/6day/mid">Mt Hood Meadows</a> at:<br />
                        <a href="http://www.snow-forecast.com/"><strong>snow-forecast.com</strong></a>
                    </p>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>


        <div class="col-sm-10 col-md-6 col-lg-6">
            <!-- bachelor forecast-->
            <link href="//www.snow-forecast.com/stylesheets/feed.css" media="screen" rel="stylesheet" type="text/css" />
            <div id="wf-weatherfeed"><iframe style="overflow:hidden;border:none;" allowtransparency="true" height="272" width="469"
                                             src="//www.snow-forecast.com/resorts/Mt-Bachelor/forecasts/feed/mid/m" scrolling="no"
                                             frameborder="0" marginwidth="0" marginheight="0"><p>Your browser does not support iframes.</p></iframe>
                <div id="wf-link"><a href="http://www.snow-forecast.com/">
                    <img alt="Snow Forecast" src="//www.snow-forecast.com/images/feed/snowlogo-150.png"/></a>
                    <p id="cmt">View detailed snow forecast for <a href="http://www.snow-forecast.com/resorts/Mt-Bachelor/6day/mid">Mt Bachelor</a> at:<br />
                        <a href="http://www.snow-forecast.com/"><strong>snow-forecast.com</strong></a></p>
                    <div style="clear: both;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>